* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: black;
  width: 100%;
  z-index: 999;
  
  display:flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: initial ;
  flex-wrap: wrap;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  justify-content:space-between;
  border-bottom: none;
  border-top: solid blue;
  border-left: solid blue;
  border-right: solid blue;
  background-image: url(fondo2.jpg);
  
}
li a{
  color: tomato;
}
.footer h4{
  color: tomato;
  
}
.footer p{
  color: tomato;
}

.nav a {
  text-decoration: none;
  color: white;
  opacity: 0.9;
  z-index: 999;
  padding: 15px 20px;
  display: flex;
  margin-left: 0px;
  
}

.imagen_wsp{
  border-radius: 100%;
  display: flex;
  align-items:start;
}
.menu {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #030303;
  padding-left: 2%;
  padding-right: 2%;
}

.nav li ul a:hover {
  align-items: space-evenly;
  background-color: red;
}

.nav li:hover > ul {
  display: block;
}

.logo {
  display: flex;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  justify-items: flex-start;
}

.bodi {
  background-color: rgb(12, 12, 12);
  z-index: 1;
  overflow-y: auto;
  margin-top: 0;
  padding: 0;
  justify-content: center;
  align-items:center;
}

.animate__animated.animate__headShake {
  --animate-duration: 2s;
}
.carrusel {
  display: flex;
  max-height: 400px;
  border-top: solid blue;
  border-bottom: solid blue;
  
  align-items: center;
  justify-content: center;
}

.imagen {
  max-height: 380px;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.button {
  margin: 0%;
  padding: 0%;
}
/*pantallas pequeñas hasta 600px */
@media screen and (max-width: 600px) {
 
  .bodi {
    font-size: 14px;
    width: 80%;
    margin: 5px auto;
    justify-content: center;
  }
  .carrusel {
    border-left: solid blue;
    border-right: solid blue;
    border-radius: 1%;
  }
  .imagen {
    border-radius: 1%;
  }
  .nav {
    border-radius: 1%;
  }
}
/* pantallas medianas (entre 601px y 1024px de ancho) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .bodi {
    font-size: 18px;
    width: 90%;
    justify-content: center;
    margin: 5px auto;
  }
  .carrusel {
    border-left: solid blue;
    border-right: solid blue;
    border-radius: 1%;
  }
  .imagen {
    border-radius: 1%;
  }
  .nav {
    border-radius: 1%;
  }
}

/*  pantallas grandes (más de 1024px de ancho) */
@media screen and (min-width: 1025px) {
 
  .bodi {
    font-size: 16px;
    width: 100%;
    align-items: center;
    margin: 5px auto;
  }
}
<<<<<<< HEAD

<!--AGREGO ESTO PARA QUE qUE VAYA UNA IMAGEN DE FONDO EN LA SECCION DE NOSOTROS SOTROS.
LUEGO DESDE LA COMPU BUSCO LA FOTO DE FONDO. MAJO. -->

section {
      background-image: url("imagenes/mi-imagen-de-fondo.jpg");
     
    }
      
=======
>>>>>>> ad9c853018bc9b26dc0490534332c4b175b57fb1
* footer {
  background-color: rgb(150, 150, 231);
  color: beige;
  box-shadow: 2px;
  padding: 20 px;
  border: solid blue;
  border-top: none;
  position: absolute;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: url(fondo2.jpg);
  
}
h4 {
  border: solid blue;
  border-left: none;
  border-right: none;
 
  
  
  
 
}
p{
  /*color: tomato;*/
}

button {
  width: 200px;
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /*  para pantallas medianas */
  .container {
    font-size: 18px;
    width: 90%;
    justify-content: center;
    margin: 5px auto;
  }
}
/* pantallas grandes (más de 1024px de ancho) */
@media screen and (min-width: 1025px) {
  .container {
    font-size: 20px;
    width: 100%;
    align-items: center;
    margin: 5px auto;
  }
}
@media screen and (max-width: 600px) {
  /* para pantallas pequeñas */
  .container {
    font-size: 14px;
    width: 80%;
    margin: 5px auto;
    justify-content: center;
  }
}

body {
  background-color: #030303;
}
.letras {
  color: blue;
  text-decoration: none;
  border-left: none;
  border-right: none;
}
.mapa_sitio {
  border: solid blue;
  border-left: none;
  border-right: none;
}
.nuestro_cursos {
  border: solid blue;
  border-left: none;
  border-right: none;
}
.logo_footer {
  border-radius: 100%;
}
.pie {
  border: solid blue;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* para pantallas medianas */
 
  .imagen_wsp2 {
    font-size: 14px;
    width: 30px;
    
    justify-content: space-between;
  }
}
/* pantallas grandes (más de 1024px de ancho) */
@media screen and (min-width: 1025px) {
  
  .imagen_wsp2 {
    font-size: 14px;
    width: 30px;
   
    justify-content: space-between;
  }
}
@media screen and (max-width: 600px) {
  /*  para pantallas pequeñas */
  
  .imagen_wsp2 {
    font-size: 14px;
    width: 30px;
    
    justify-content: space-between;
  }
}
.imagen_wsp{
  justify-content:space-between;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  width: 5px;

}
.imagen_wsp2{
  justify-content: space-between;
 
  
}
@media screen and (max-width: 600px) {
  /* para pantallas pequeñas */
  .footer {
    font-size: 14px;
    width: 80%;
    justify-content: space-between;

  }
}
/*  pantallas grandes (más de 1024px de ancho) */
@media screen and (min-width: 1025px) {
  .footer {
    font-size: 18px;
    width: 100%;
    justify-content: start;
    position: absolute;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /*  para pantallas medianas */
  .footer {
    font-size: 16px;
    width: 90%;
    justify-content: start;
    position: absolute;
  }
}
body{
  background-image: url(fondo.jpg);
  background-size: cover;
  background-position: center;
}
span{
color: white;

}
label{
  color: white;
}
.letras{
  color: red;
}
h2{
  color: white;
}
}




