* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.chat-whatsapp {
  position: relative;
  z-index: 9999;
}

.boton_wsp {
  width: 100px;
  height: 50px;
  color: #fff;
  border: none;
  display: flex;
  cursor: pointer;
  font-weight: bold;
  justify-content: space-between;
  text-decoration: none;
}
.img_wsp {
  width: 100px;
}
.letras_boton {
  text-decoration: none;
  background-color: rgba(3, 75, 9, 0.849);
  color: black;
}

.chat-whatsapp button:hover {
  background-color: #080808;
}

.nav {
  background-color: black;
  width: 100%;
  z-index: 999;
  opacity: 0.8;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-evenly;
  top: 0;
}

.nav a {
  text-decoration: none;
  color: white;
  opacity: 0.9;
  z-index: 999;
  padding: 15px 20px;
  display: flex;
  padding-left: 0;
  margin-left: 0px;
}
.menu {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #030303;
  padding-left: 2%;
  padding-right: 2%;
}

.nav li ul a:hover {
  align-items: space-evenly;
  background-color: red;
}

.nav li:hover > ul {
  display: block;
}

.logo {
  display: flex;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  justify-items: flex-start;
}

.bodi {
  background-color: rgba(155, 135, 226, 0.637);
  z-index: 1;
  overflow-y: auto;
  min-height: 100vh;
  justify-content: center;
  align-items: center center;
}

.animate__animated.animate__headShake {
  --animate-duration: 2s;
}
.carrusel {
  display: flex;
  max-height: 400px;
  border-top: solid;
  border-bottom: solid;
  align-items: center;
  justify-content: center;
}

.imagen {
  max-height: 380px;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.button {
  margin: 0%;
  padding: 0%;
}
@media screen and (max-width: 600px) {
  /* Estilos específicos para pantallas pequeñas */
  .bodi {
    font-size: 14px;
    width: 80%;
    margin: 5px auto;
    justify-content: center;
  }
  .carrusel {
    border-left: solid;
    border-right: solid;
    border-radius: 1%;
  }
  .imagen {
    border-radius: 1%;
  }
  .nav {
    border-radius: 1%;
  }
}
/* Media query para pantallas medianas (entre 601px y 1024px de ancho) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos específicos para pantallas medianas */
  .bodi {
    font-size: 18px;
    width: 90%;
    justify-content: center;
    margin: 5px auto;
  }
  .carrusel {
    border-left: solid;
    border-right: solid;
    border-radius: 1%;
  }
  .imagen {
    border-radius: 1%;
  }
  .nav {
    border-radius: 1%;
  }
}

/* Media query para pantallas grandes (más de 1024px de ancho) */
@media screen and (min-width: 1025px) {
  /* Estilos específicos para pantallas grandes */
  .bodi {
    font-size: 20px;
    width: 100%;
    align-items: center;
    margin: 5px auto;
  }
}
* footer {
  background-color: rgb(48, 48, 77);
  color: beige;
  box-shadow: 2px;
  border-radius: 8px;
  padding: 20 px;
  border: solid blue;
  border-top: none;
  position: relative;
}
h4 {
  border: solid blue;
}
a {
  color: beige; /* Esto cambiará el color del enlace a rojo */
}
button {
  width: 200px;
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos específicos para pantallas medianas */
  .container {
    font-size: 18px;
    width: 90%;
    justify-content: center;
    margin: 5px auto;
  }
}
/* Media query para pantallas grandes (más de 1024px de ancho) */
@media screen and (min-width: 1025px) {
  .container {
    font-size: 20px;
    width: 100%;
    align-items: center;
    margin: 5px auto;
  }
}
@media screen and (max-width: 600px) {
  /* Estilos específicos para pantallas pequeñas */
  .container {
    font-size: 14px;
    width: 80%;
    margin: 5px auto;
    justify-content: center;
  }
}
.container {
  background-color: beige;
}
body {
  background-color: #030303;
}
.letras {
  color: blue;
  text-decoration: none;
}
.mapa_sitio {
  border: solid blue;
}
.nuestro_cursos {
  border: solid blue;
}
.logo_footer {
  border-radius: 100%;
}
.pie {
  border: solid blue;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos específicos para pantallas medianas */
  .logo_footer {
    font-size: 18px;
    width: 90px;
    justify-content: center;
    margin: 5px auto;
  }
}
/* Media query para pantallas grandes (más de 1024px de ancho) */
@media screen and (min-width: 1025px) {
  .logo_footer {
    font-size: 20px;
    width: 100px;
    align-items: center;
    margin: 5px auto;
  }
}
@media screen and (max-width: 600px) {
  /* Estilos específicos para pantallas pequeñas */
  .logo_footer {
    font-size: 14px;
    width: 30px;
    margin: 5px auto;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  /* Estilos específicos para pantallas pequeñas */
  .chat-whatsapp {
    font-size: 14px;
    width: 80%;
    opacity: 0.4;
    justify-content: center;
    position: absolute;
  }
}
/* Media query para pantallas grandes (más de 1024px de ancho) */
@media screen and (min-width: 1025px) {
  .chat-whatsapp {
    font-size: 20px;
    width: 100%;
    justify-content: center;

    position: absolute;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos específicos para pantallas medianas */
  .chat-whatsapp {
    font-size: 18px;
    width: 90%;
    justify-content: center;

    position: absolute;
  }
}




